<ion-view view-title="{{carMakeName}}">
  <ion-header-bar class="bar-light bar-subheader">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchCarsMake">
      </label>
  </ion-header-bar>
  <ion-content class="padding">
      <ion-list>
        <div ng-repeat="car in carMake | filter:searchCarsMake">
          <ion-item class="item-stable"
            ng-click="toggleCar(car)"
            ng-class="{active: isCarShown(car)}">
            <i class="icon" ng-class="isCarShown(car) ? 'ion-ios-minus-empty' : 'ion-ios-arrow-down'"></i> 
            &nbsp;
            <b>{{car.name}} ({{car.years.length}})</b>
          </ion-item>
          <ion-item class="item-accordion item-icon-right" ng-repeat="year in car.years" ng-show="isCarShown(car)" href="#/tab/cars/{{carMakeName}}/{{car.niceName}}/{{year.year}}">
            Make Year - <b>{{year.year}}</b> : No. of styles - <b>{{year.styles.length}}</b>
            <i class="icon ion-arrow-right-c"></i> 
          </ion-item>
        </div>  
    </ion-list>
  </ion-content>
</ion-view>
